
.navbar-nav {
  padding-left:100px;
  padding-right:100px;
}
.dropbtn {
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: white;}
  .button4 {border-radius: 12px;}

  

  .fa-instagram{
    color: rgb(193,53,132);
  }
    
  .fa-facebook{
    color:rgb(66,103,178);
  }

  .fa-twitter{
    color: rgb(29,161,242)
  }

  .fa-pinterest{
    color: rgb(189,8,28)
  }

  hr.solid {
    border-top: 2px solid #999;
  }

.pricing-header {
    max-width: 700px;
  } 

  .text-center {
    text-align: center!important;
}

.pt-15, .py-15 {
  padding-top: 6rem!important;
}



.badge{
  height: 1.4rem;
  width: 1.5rem;
}

.login-card .login-btn {
  padding: 13px 20px 12px;
  background-color: #000;
  border-radius: 4px;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  color: #fff;
  margin-bottom: 24px;
  
}

.container .card  {
  max-width: 960px;
}

.form-group .form-control{
  width: 70%;
}


.button2 {
  width: 70%;
}